Скачать набор данных (таблицу) CreditCardTransaction.csv с https://www.kaggle.com/datasets/ybifoundation/credit-card-transaction. Прочитать и сохранить эту таблицу в pd.DataFrame с именем df.

1. Задав np.random.seed(12) и используя методsample(), из df получите выборку, содержащую 10000 строк. Выборку сохраните в переменную dfs.
2. Получите количество раз [с помощью метода value_counts()], которое встретился каждый департамент (значение столбца Department) в dfs. Выведите3 департамента, которые наиболее часто[с помощью метода nlargest()] встречаются в dfs.
3. В dfs получить размер сумм транзакций (поле TrnxAmount) соответствующие январю или февралю 2022 года (поля Year и Month) и:

- Найдите медиану[с помощью метода .median()] сумм транзакций полученных значений.
- Добавьте в dfs столбец с разностью значений модуля найденной медианы и модуля значения из поля TrnxAmount.

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Загрузка данных из файла
file_path = 'CreditCardTransaction.csv'  # Замените на путь к вашему файлу
df = pd.read_csv(file_path)

In [3]:
# Установка случайного состояния и создание выборки
np.random.seed(12)
dfs = df.sample(n=10000, random_state=12)

In [4]:
# Подсчёт количества вхождений каждого департамента
department_counts = dfs['Department'].value_counts()
top_3_departments = department_counts.nlargest(3)
print("Три наиболее часто встречающихся департамента:")
print(top_3_departments)

Три наиболее часто встречающихся департамента:
Department
DEPT OF NATRL RES AND ENV CONT    1310
DEPT OF CORRECTIONS               1069
DEPT OF TRANSPORTATION            1064
Name: count, dtype: int64

In [5]:
# Фильтрация транзакций за январь и февраль 2022 года
jan_feb_transactions = dfs[(dfs['Year'] == 2022) & (dfs['Month'].isin([1, 2]))]['TrnxAmount']

In [6]:
# Нахождение медианы сумм транзакций
median_transaction = jan_feb_transactions.median()
print(f"Медиана сумм транзакций за январь и февраль 2022 года: {median_transaction}")

Медиана сумм транзакций за январь и февраль 2022 года: 100.0

In [7]:
# Добавление нового столбца с разностью медианы и значений транзакций
dfs['Difference'] = abs(median_transaction) - abs(dfs['TrnxAmount'])
dfs

,Year,Month,Department,Division,Merchant,TranxDescription,TranxDate,TrnxAmount,Difference
472593,2021,9,DEPT OF NATRL RES AND ENV CONT,Parks and Recreation,GRAINGER,Industrial Supplies Not Elsewhere Classified,03-11-2021,195.94,-95.94
62119,2019,4,DEPT OF SAFETY AND HOMELAND,State Police-Executive,PANERA BREAD #600943,Eating Places Restaurants,10-04-2018,12.94,87.06
277405,2020,5,DEPT OF SAFETY AND HOMELAND,Dema,UBER TRIP,Travel,11/21/2019,24.89,75.11
682377,2022,12,FIRST STATE MILITARY ACADEMY,First State Military Academy,SPORTS NETWORK INTERNATIO,Recreation Services Not Elsewhere Classified,06/15/2022,210.00,-110.00
670575,2022,12,EXECUTIVE,Office of the Governor,LEXISNEXIS PAYMENT CTR,Business Services-Not Elsewhere Classified,05/27/2022,485.00,-385.00
...,...,...,...,...,...,...,...,...,...
568037,2022,4,DEPT OF TRANSPORTATION,Maintenance Districts,TRI-STATE BATTERY,Business Services-Not Elsewhere Classified,09/29/2021,480.00,-380.00
552369,2022,3,DEPT OF TRANSPORTATION,Maintenance Districts,FASTENAL COMPANY 01DENEW,Industrial Supplies Not Elsewhere Classified,09/15/2021,18.38,81.62
658432,2022,11,DEPT OF CORRECTIONS,Food Services,H. SCHRIER And CO. INC.,Misc Food Store-Convenience Mrkt Splty Vendng ...,05-06-2022,13744.00,-13644.00
741398,2023,4,DEPT OF LABOR,Employment And Training Serv,COGNITO-TEAM,Computer Software Stores,10-01-2022,45.00,55.00
182665,2019,12,JUDICIAL,Family Court,GRAINGER,Industrial Supplies Not Elsewhere Classified,06-10-2019,33.60,66.40

In [8]:
# Сохранение выборки с новым столбцом, 
output_path = 'sample_with_difference.csv'
dfs.to_csv(output_path, index=False)
print(f"Выборка сохранена в файл {output_path}")

Выборка сохранена в файл sample_with_difference.csv